@charset "utf-8";
/*초기화 부분*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 a {
     text-decoration: none;
 }
body {
    overflow: hidden;
}
 section {
display: flex;
justify-content: center;/*content 가운데정렬*/
align-items: center;/*하위속성 items 가운데정렬*/
min-height: 100vh;
background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top:100px; left:400px;
    width: 600px; height: 600px;
    background-color: skyblue;
}

section .color:nth-child(2) {
    top:-150px; left: 100px;
    width: 400px; height: 300px;
    background-color: blue;
}

section .color:nth-child(3) {
    bottom: 50px; left: 100px;
    width: 200px; height: 200px;
    background-color: skyblue;
}
section .color:nth-child(4) {
    bottom: -50px; right: 100px;
    width: 200px; height: 200px;
    background-color: yellow;
}
section .color:nth-child(5) {
    top:0; right:350px;
    width: 600px; height: 600px;
    background-color: aquamarine;
}
section .color:nth-child(6) {
    bottom:100px; right:700px;
    width: 300px; height: 300px;
    background-color: orange;
}
.box {
    position: relative;
}
.box .square {
    position: absolute; 
    backdrop-filter: blur(5px);
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.2);
    border:3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%,100%
    {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
    
}
.box .square:nth-child(1) {
    top:-50px; right: -60px;
    width: 100px; height: 100px;
}
.box .square:nth-child(2) {
    top:150px; left: -100px;
    width: 120px; height: 120px;
    z-index: 2
}
.box .square:nth-child(3) {
    bottom:50px; right: -60px;
    width: 80px; height: 80px;
}
.box .square:nth-child(4) {
    bottom:-80px; left: 100px;
    width: 50px; height: 50px;
}
.box .square:nth-child(5) {
    top:-80px; left: 140px;
    width: 60px; height: 60px;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: grid;/*justify-content / align-items*/
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.2);
    border:3px solid rgba(255, 255, 255, 0.3);
}

.form {
    position: relative;
    width:100%;
    height: 100%;
    padding: 40px;
}
.form h2 {
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3PX;
    margin-bottom: 40PX;
}
.form h2::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background-color: white;
}
.form .inputBox {
    width: 100%;
    margin-top: 20px;
}
.form .inputBox input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border:3px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.form .inputBox input::placeholder {
    color: rgb(197, 197, 197);
}
.form .inputBox input[type="submit"] {
    background-color: white;
    color:rgb(197, 197, 197);
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}
.form .inputBox input[type="submit"]:hover {
    background-color: #666;
    color:white;
}
.forget {
    margin-top: 5px;
    color: white;
}
.forget a {
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition-duration: 0.5s;
}
.forget a:hover {
    color:rgb(197, 197, 197);
    font-weight: bold;
}